.card {
  width: 22rem;
  margin: 5rem
  
}

.card-content {
  font-size: 20px;
}

strong {
  color: rgb(0, 98, 255);
}

p {
  position: relative;
}

p strong {
  color: rgb(117, 70, 0);
  font-size: 10px;
  position: absolute;
  top: -13px;
}

.avatar {
  border-radius: 35px;
  outline: none;
  overflow: hidden;
}